.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction:column;
}

.video-bg {
  width: 100%;
  max-height: calc(100vh - 250px); /* decrease the height by 100px */
  object-fit: cover; /* scale the video to fill the container */
  padding-top: 1.4em;
  padding-bottom: 2.5em;
}


.nav-button {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  /* background-color: #007bff; */
  color: #fff;
  border-radius: 5px;
  text-decoration: none;

}

.nav-button:hover {
  background-color: #166bf4;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: black;
  flex-direction:column;
}

.center-image{
  margin: 0 auto;
  height: 25em;
  width: 40em;
  margin-top: 6em;
}
body {
  background-color: black;
}

body {
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  margin-top: 1.5em;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* .progress {
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
} */

/* .progress-bar {
  background-color: #4CAF50;
  height: 100%;
  text-align: center;
  color: white;
} */

/* .progress-bar p {
  line-height: 20px;
  margin: 0;
  padding: 0;
} */

nav{
  /* margin: auto; */
  margin-left: -2vw;
  margin-top: -2em;
  padding: 1.5em;
  text-align: center;
  align-content: center;
  /* word-spacing: 2vw; */
  background-image: linear-gradient(to right, rgb(123, 207, 255), rgb(119, 214, 255), #447feb);
  width: 100%;
  position: fixed;
  font-weight: bold;
  font-size: 1.2vw;
  letter-spacing: 0.4vw;
  z-index: 10;
}

body{
  font-family: 'Courier New', Courier, monospace;
}

p, h3, li{
  padding: 0.5em 2em;
}

footer{
  height: 150px;
  background-color: white;
  color: black !important;
  text-align: center;
  margin-top: 2em;
  padding-top: 5.5em;
  background-image: linear-gradient(to right, rgb(123, 207, 255), rgb(119, 214, 255), #447feb);
}